#SpicyLyricsPage .LyricsContainer {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

#SpicyLyricsPage .LyricsContainer.Hidden {
  display: none;
}


#SpicyLyricsPage .LyricsContainer .LyricsContent {
  --TextGlowDef: rgba(255,255,255,0.15) 0px 0px 6px;
  --ActiveTextGlowDef: rgba(255,255,255,0.4) 0px 0px 14px;
  --StrongTextGlowDef: rgba(255,255,255,0.68) 0px 0px 16.4px;
  --StrongerTextGlowDef: rgba(255,255,255,0.74) 0px 0px 16px;
  --DefaultLyricsSize: clamp(1.85rem,calc(1cqw* 7), 3.5rem);
  --Simplebar-Scrollbar-Color: rgba(255, 255, 255, 0.6);

  overflow-x: hidden !important;
  overflow-y: auto !important;
  height: 100cqh;
  width: 100%;
  font-size: var(--DefaultLyricsSize);
  font-weight: 700;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  z-index: 9;

  --ImageMask: linear-gradient(
    180deg,
    transparent 0,
    transparent 16px,
    var(--spice-sidebar) 64px,
    var(--spice-sidebar) calc(100% - 64px),
    transparent calc(100% - 16px),
    transparent
  );

  --webkit-mask-image: var(--ImageMask);
  mask-image: var(--ImageMask);
  container-type: size;
  opacity: 1;
  transition: opacity .25s;
}

#SpicyLyricsPage .LyricsContainer .LyricsContent.HiddenTransitioned {
  opacity: 0;
}

#SpicyLyricsPage .LyricsContainer .LyricsContent .simplebar-content {
  container-type: size !important;
  transition: padding-right .4s, padding-left .4s;
}

#SpicyLyricsPage .LyricsContainer .LyricsContent .BottomSpacer {
  display: block;
  height: 45vh;
  width: 100%;
}

#SpicyLyricsPage .LyricsContainer .LyricsContent .TopSpacer {
  display: block;
  height: 20vh;
  width: 100%;
}
