:root {
  --bg-rotation-degree: 258deg;
}

.main-nowPlayingView-contextItemInfo::before {
  display: none;
}

#SpicyLyricsPage {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  container-type: size;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  font-weight: 700;
  user-select: none;
  -webkit-user-drag: none;
  opacity: 1;
  transition: left 0.5s cubic-bezier(0.91, 0.04, 0.94, 0.98);
}

body.SpicySidebarLyrics__Active #SpicyLyricsPage:not(.Fullscreen) {
  border-radius: 8px;
}

#SpicyLyricsPage.UseSpicyFont,
.SpicyLyricsFontPixel {
  font-family: SpicyLyrics, "Noto Sans Georgian", "VazirmatnRegular" !important;
}

.Root__main-view:has(#SpicyLyricsPage) .main-view-container__scroll-node-child,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container__scroll-node-child-spacer,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container__scroll-node-child,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container__scroll-node-child-spacer {
  display: none;
}

#SpicyLyricsPage .ViewControls {
  container-type: size;
  display: flex;
  gap: 8px;
  height: 5cqh;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.2s !important;
  z-index: 101;
  --ViewControlSize: 100cqh;
}

#SpicyLyricsPage:not(.Fullscreen) .ViewControls {
  position: absolute;
  width: 100cqw;
  bottom: 24px;
  opacity: 0;
}

:root:has(.SpicyBG.BackgroundLayer)
  body:not(.SpicySidebarLyrics__Active)
  #SpicyLyricsPage:not(.Fullscreen)
  .ViewControls,
:root:has(.lucid-bg-wrapper) #SpicyLyricsPage:not(.Fullscreen) .ViewControls {
  bottom: 115px !important;
}

body.player-floating:has(.glassify-bg) #SpicyLyricsPage:not(.Fullscreen) .ViewControls {
  bottom: 96px !important;
}

:root:has(.lucid-bg) #SpicyLyricsPage:not(.Fullscreen) .ViewControls {
  bottom: 80px !important;
}

body.SpicySidebarLyrics__Active #SpicyLyricsPage:not(.Fullscreen) .ViewControls {
  --ViewControlSize: 90cqh;
}

#SpicyLyricsPage:not(.Fullscreen):hover .ViewControls {
  opacity: 0.45;
}

#SpicyLyricsPage:not(.Fullscreen) .ViewControls:hover {
  opacity: 1 !important;
}

#SpicyLyricsPage .ViewControls .ViewControl {
  --ViewControlHeight: var(--ViewControlSize, 100cqh);
  aspect-ratio: 1;
  background: rgba(21, 22, 23, 0.72);
  border: none;
  border-radius: 100rem;
  display: flex;
  height: var(--ViewControlHeight);
  width: var(--ViewControlHeight);
  -webkit-app-region: no-drag;
  align-items: center;
  color: hsla(0, 0%, 100%, 0.7);
  justify-content: center;
  text-align: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

#SpicyLyricsPage .ViewControls .ViewControl svg:not(.NoFill) {
  fill: currentColor;
}

#SpicyLyricsPage .ViewControls .ViewControl svg.NoFill {
  fill: none !important;
}

/* #SpicyLyricsPage:not(.Fullscreen, .NowBarSide__Right) .ViewControls:hover {
  opacity: 1 !important;
  left: var(--ControlsHoverOffset) !important;
  scale: var(--ControlsHoverScale) !important;
}

#SpicyLyricsPage:not(.Fullscreen, .NowBarSide__Right):hover .ViewControls {
  opacity: .6;
  left: var(--PageHoverOffset);
  scale: var(--PageHoverScale);
}

#SpicyLyricsPage:not(.Fullscreen):is(.NowBarSide__Right):is(.NowBarStatus__Open) .ViewControls:hover {
  opacity: 1 !important;
  right: var(--ControlsHoverOffset) !important;
  scale: var(--ControlsHoverScale) !important;
}

#SpicyLyricsPage:not(.Fullscreen):is(.NowBarSide__Right):is(.NowBarStatus__Open):hover .ViewControls {
  opacity: .6;
  right: var(--PageHoverOffset);
  scale: var(--PageHoverScale);
} */

#SpicyLyricsPage .ViewControls button {
  cursor: pointer;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.main-nowPlayingView-section, canvas) {
  --background-tint: color-mix(in srgb, rgb(var(--spice-rgb-selected-row)) 7%, transparent);
  --spice-card: var(--background-tint);
  --background-tinted-base: var(--background-tint);
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .main-nowPlayingView-content {
  background: transparent;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .main-nowPlayingView-contextItemInfo:before {
  display: none;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .spicy-dynamic-bg
  div[data-overlayscrollbars-viewport],
.Root__right-sidebar:has(.main-nowPlayingView-section, canvas)
  .spicy-dynamic-bg
  div[data-overlayscrollbars-viewport]
  > div {
  background: transparent;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .spicy-dynamic-bg
  .main-nowPlayingView-coverArtContainer
  div:has(video):after,
.Root__right-sidebar:has(.main-nowPlayingView-section, canvas)
  .spicy-dynamic-bg
  .main-nowPlayingView-coverArtContainer
  div:has(video):before {
  display: none;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .spicy-dynamic-bg
  .main-trackInfo-artists {
  filter: brightness(1.15);
  opacity: 0.75;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .main-nowPlayingView-coverArt {
  box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.271);
  opacity: 0.95;
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .main-nowPlayingView-section,
body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  .main-nowPlayingView-section.QR9JmVmX9LYwo62NRtew
  .CvxzmyND_aGd2RR8ZoSr {
  background-color: var(--background-tinted-base);
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  button[type="button"] {
  background-color: var(--background-tinted-base);
  color: hsla(0, 0%, 100%, 0.8);
}

body:not(.SpicyLyrics_StaticBackground)
  .Root__right-sidebar:has(.spicy-dynamic-bg):has(.main-nowPlayingView-section, canvas)
  button[type="button"]
  .Button-sm-buttonSecondary-isUsingKeyboard-useBrowserDefaultFocusStyle,
.Root__right-sidebar:has(.main-nowPlayingView-section, canvas)
  button[type="button"]
  .Button-sm-buttonSecondary-useBrowserDefaultFocusStyle {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

#SpicyLyricsPageSvg {
  fill: currentColor;
  transform: translateY(2px);
}

body.SpicySidebarLyrics__Active button:has(#SpicyLyricsPageSvg) {
  display: none !important;
}

button:has(#SpicyLyricsPageSvg):after {
  transform: translateX(-370%) translateY(-40%) !important;
}

/* "Page Not Visible" fix */
.Root__main-view:has(#SpicyLyricsPage),
.Root__main-view:has(#SpicyLyricsPage) .KL8t9WB65UfUEPuTFAhO,
.Root__main-view:has(#SpicyLyricsPage) .main-content-view,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container__scroll-node,
.Root__main-view:has(#SpicyLyricsPage) .main-view-container .div[data-overlayscrollbars-viewport] {
  height: 100% !important;
}

body:not(:has(.Root__main-view-overlay #SpicyLyricsPage:is(.Fullscreen)))
  #SpicyLyrics_FullscreenButton {
  scale: 1.25;
}

#SpicyLyrics_FullscreenButton {
  color: rgba(var(--spice-rgb-selected-row), 0.7) !important;
}

#SpicyLyrics_FullscreenButton svg {
  fill: currentColor;
}

body:not(:has(.Root__main-view-overlay .BeautifulLyricsPage:is(.Fullscreen)))
  #BeautifulLyricsFullscreenButton {
  scale: 0.85 !important;
  order: 1000 !important;
  opacity: 0.65 !important;
}

#SpicyLyricsPage .MediaImage,
#SpicyLyricsPage .MediaContent {
  user-select: none;
}

#SpicyLyricsPage .ViewControls svg {
  aspect-ratio: 1;
  height: calc(var(--ViewControlSize) * 0.4);
  width: auto;
}
/* 
#SpicyLyricsPage.Fullscreen .ViewControls svg {
  height: calc(var(--ViewControlSize)* .4);
} */

.GenericModal__overlay {
  z-index: 999;
}

.SpicyLyricsDevToolsContainer {
  display: flex;
  flex-direction: column;
  gap: 1cqh;
}

.SpicyLyricsDevToolsContainer .Setting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.SpicyLyricsDevToolsContainer .Setting .SettingName {
  font-size: 0.95rem;
  font-weight: 400;
}

.SpicyLyricsDevToolsContainer .Setting .SettingValue {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.SpicyLyricsDevToolsContainer .Setting .SettingValue button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 400;
}

.SpicyLyricsDevToolsContainer .Setting .SettingValue button:hover {
  background-color: rgb(206, 206, 206);
}

/* .QdB2YtfEq0ks5O4QbtwX .WRGTOibB8qNEkgPNtMxq:has(#SpicyLyricsPage) *:not(#SpicyLyricsPage),
.QdB2YtfEq0ks5O4QbtwX:has(#SpicyLyricsPage) .DJcMUKFwkFECf5ksmSfU {
  display: none !important;
} */

.WaitingForHeight {
  opacity: 0 !important;
}

.SpicyLoader {
  --bg-color: var(--spice-main);
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: z-index 0.34s;
  background-color: var(--bg-color);
  animation: SpicyLoader_FadeOut 0.34s forwards;
}

:root:has(.WaitingForHeight) .SpicyLoader {
  z-index: 105;
  animation: SpicyLoader_FadeIn 0.34s forwards;
}

/* .SpicyLoader::after {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 0.5;
  z-index: -1;
} */

body.SpicySidebarLyrics__Active .eguwzH_QWTBXry7hiNj3:has([id="settings.showFriendActivity"]),
body.SpicySidebarLyrics__Active .x-settings-row:has([id="settings.showFriendActivity"]) {
  display: none !important;
}

body.SpicySidebarLyrics__Active .Root__right-sidebar .XOawmCGZcQx4cesyNfVO > :not(#SpicyLyricsPage),
body.SpicySidebarLyrics__Active
  .Root__right-sidebar
  .oXO9_yYs6JyOwkBn8E4a
  > :not(#SpicyLyricsPage) {
  display: none !important;
}

body.SpicySidebarLyrics__Active [data-testid="control-button-queue"] {
  color: rgba(var(--spice-rgb-selected-row), 0.7) !important;
}

body.SpicySidebarLyrics__Active [data-testid="control-button-queue"]::after {
  display: none !important;
}

body.SpicySidebarLyrics__Active #SpicyLyricsPage .NowBar {
  display: none !important;
}

body.SpicySidebarLyrics__Active #SpicyLyricsPage {
  --LyricsLeftSidePadding: 12cqw !important;
  --LyricsRightSidePadding: 7.5cqw !important;
}

#SpicyLyricsPage.SidebarTransition__Opening {
  left: 100%;
}

#SpicyLyricsPage.SidebarTransition__Closing {
  left: -100%;
}

*:has(
    > #SpicyLyricsPage.SidebarTransition__Opening,
    > #SpicyLyricsPage.SidebarTransition__Closing
  ) {
  overflow: hidden !important;
}

#SpicyLyricsPage:not(.Lyrics_RomanizationAvailable) .ViewControls #RomanizationToggle,
#SpicyLyricsPage:not(.SpicyRenderer) .ViewControls #RomanizationToggle {
  display: none !important;
}

#SpicyLyricsPage.CompactifyEnabledCompactMode .ViewControls .ViewControl#CompactModeToggle {
  display: none !important;
}
