.spicy-dynamic-bg {
  filter: saturate(1.5) brightness(.8);
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%
}

.spicy-dynamic-bg .Back,.spicy-dynamic-bg .BackCenter,.spicy-dynamic-bg .Front {
  --PlaceholderHueShift: 0deg;
  animation: bgAnim 45s linear infinite;
  border-radius: 100em;
  position: absolute;
  width: 200%;
  filter: blur(15px);
}

#SpicyLyricsPage.Fullscreen .spicy-dynamic-bg:not(.lowqmode) {
  max-height: 60%;
  max-width: 20%;
  scale: 500% 170%
}

.spicy-dynamic-bg .Back:not(.NoEffect), .spicy-dynamic-bg .BackCenter:not(.NoEffect), .spicy-dynamic-bg .Front:not(.NoEffect) {
  filter: hue-rotate(var(--PlaceholderHueShift)) blur(40px);
}

.spicy-dynamic-bg-in-this:is(aside) .spicy-dynamic-bg .Back:not(.NoEffect), .spicy-dynamic-bg-in-this:is(aside) .spicy-dynamic-bg .BackCenter:not(.NoEffect), .spicy-dynamic-bg-in-this:is(aside) .spicy-dynamic-bg .Front:not(.NoEffect) {
  filter: hue-rotate(var(--PlaceholderHueShift)) blur(30px);
}

.spicy-dynamic-bg .Front {
  right: 0;
  top: 0;
  z-index: 2;
}

.spicy-dynamic-bg .Back {
  animation-direction: reverse;
  bottom: 0;
  left: 0;
  z-index: 1
}

.spicy-dynamic-bg .BackCenter {
  animation-direction: reverse;
  right: -50%;
  top: -20%;
  width: 300%;
  z-index: 0
}

.spicy-dynamic-bg-in-this {
  overflow: hidden;
  position: relative;
}

.spicy-dynamic-bg-in-this:is(aside) .spicy-dynamic-bg {
  filter: saturate(2) brightness(0.7);
  max-height: 100%;
  max-width: 100%;
}

.spicy-dynamic-bg-in-this:is(aside) video {
  filter: opacity(0.75) brightness(0.5);
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 90%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 35%, rgba(0, 0, 0, 0) 90%);
}

.main-nowPlayingView-coverArtContainer div:has(video)::before,
.main-nowPlayingView-coverArtContainer div:has(video)::after {
    display: none;
}

.spicy-dynamic-bg-in-this:is(aside) .AAdBM1nhG73supMfnYX7 {
  z-index: 1;
  position: relative;
}


#SpicyLyricsPage .spicy-dynamic-bg:not(.lowqmode) {
  max-height: 55%;
  max-width: 35%;
  scale: 290% 185%;
  transform-origin: left top
}

#SpicyLyricsPage .spicy-dynamic-bg {
  filter: saturate(2.5) brightness(.65);
}

#SpicyLyricsPage .spicy-dynamic-bg:is(.lowqmode) {
  object-fit: cover;
  filter: brightness(.5) blur(5px);
}

@keyframes bgAnim {
  0% {
      transform: rotate(var(--bg-rotation-degree))
  }

  to {
      transform: rotate(calc(var(--bg-rotation-degree) + 1turn))
  }
}